<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhouse</title>
  </head>
  <body>
    <h1><%=title %></h1>
    <div><%=text %></div>
    <br />
    <form action="/sign-up" method="POST">
      <label for="username">Username: </label>
      <input
        type="text"
        name="username"
        id="username"
        value="<%=locals.formData ? formData.username : '' %>"
        required
      /><br /><br />
      <label for="first_name">First Name: </label>
      <input
        type="text"
        name="first_name"
        id="first_name"
        value="<%=locals.formData ? formData.first_name : '' %>"
        required
      /><br /><br />
      <label for="last_name">Last Name: </label>
      <input
        type="text"
        name="last_name"
        id="last_name"
        value="<%=locals.formData ? formData.last_name : '' %>"
        required
      /><br /><br />
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        id="password"
        required
      /><br /><br />
      <label for="confirmpassword">Confirm Password: </label>
      <input
        type="password"
        name="confirmpassword"
        id="confirmpassword"
        required
      /><br /><br />
      <label for="admin">Is Admin? </label>
      <input type="checkbox" name="admin" id="admin" value="true" /><br /><br />
      <button type="submit">Submit</button>
    </form>
    <%if (locals.errors && errors.length>0) {%> <%errors.forEach((error)=>{%>
    <div><%=error.msg%></div>
    <%})%> <%}%>
  </body>
</html>
